*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e7e9fc;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-logo span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 40px;
  padding: 24px 0;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-item:hover {
  color: #404bbf;
}

.nav-list-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-style: normal;
}

.address-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  margin-right: 40px;
}

.address-list-item:last-child {
  margin-right: 0;
}

.address-list-item:hover {
  color: #404bbf;
}

.address-list-item:focus {
  color: #404bbf;
}

.hero-image {
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero-image-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-image-button {
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-image-button:hover {
  background-color: #404bbf;
}

.hero-image-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-section-ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.first-section-list-item {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}

.first-section-list-item:last-child {
  margin-right: 0;
}

.first-section-list-item-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.first-section-list-item-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.second-section {
  background-color: #f4f4fd;
}

.second-section-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.second-section-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}

.second-section-list-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-right: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.second-section-list-item:last-child {
  margin-right: 0;
}

.mark-product-designer {
  padding: 32px 0;
}

.tom-fronten-developer {
  padding: 32px 0;
}

.camila-marketing {
  padding: 32px 0;
}

.daniel-ui-designer {
  padding: 32px 0;
}

.second-section-list-item-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.second-section-list-item-parargaph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.third-section-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.third-section-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}

.third-section-list-item {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  margin-right: 24px;
  margin-bottom: 48px;
}

.third-section-list-item-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.third-section-list-item-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
